/* .cardFormat {
  background: #f3e5f5;
  margin: 20px;
  padding: 20px;
  border: solid black 2px;
  display: flex;
  justify-content: space-between;
}

.imageFormat {
  height: 100px;
  width: 200px;
} */